html,
body {
  height: 100%;
  margin: 0;
  padding: 0;
}
.wrapper {
  display: flex;
  flex-direction: column;
  height: 100%;
}
.header {
  width: 100%;
  padding: 20px;
  box-sizing: border-box;
}
.main {
  flex: 1 0 auto;
  padding: 0 20px;
}
.footer {
  padding: 20px;
  display: flex;
  flex: 0 0 auto;
  align-items: center;
}